 *{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    /* background:#f5f5f5;
    color:#333;
    line-height:1.7; */
     background: #0e0e0f;
    /* color: #d4d4d6; */
    color: #e6e8eb;
    font-family: Georgia, serif;
}
    a{
        color: #d4af37;
        /* font-style: normal; */
        /* font-display: ; */
        text-decoration-line: unset;
    }
header{
    /* background:#1f2937;
    color:white;
    padding:20px; */
     width: fit-content;
    margin: 20px auto;
    padding: 12px 28px;
    color: #e6e8eb;
    border-radius: 12px;
    /* background: linear-gradient(to right, #b9bcc2, #e6e8eb); */
}

nav{
    margin-bottom:20px;
}

nav a{
    color:white;
    /* color:#0e0e0f; */
    text-decoration:none;
    margin:15px;
    font-size:18px;
    transition:0.3s;
}

nav a:hover{
    /* color:#00bfff;
    color:#0e0e0f; */
    background-color: #d4af37;
    padding: 10px;
    border-radius: 10px;

}

h1{
    font-size:50px;
    text-align: center;
}

main{
    width:80%;
    margin:auto;
    padding:50px;
}

div{
    /* background:white; */
    /* background: #b9bcc2; */
    margin-bottom:25px;
    padding:20px;
    border-radius:10px;
    /* box-shadow:0 0 10px rgba(0,0,0,0.15); */
}
    
    h2{
    /* color:#2563eb;*/
    margin-bottom:10px; 
     width: fit-content;
    padding: 10px 14px;
    border-radius: 8px;
    /* color: #d2d5da; */
    color: #e6e8eb;
    background: #1a1a1c;
}

h3{
    margin: 10px 0;
}

h3 a{

    /* text-decoration:none; */
    /* color:#111827; */
    color: #e6e8eb;
    /* padding: 50px; */


}

h3 a:hover{
    /* color:#2563eb; */
    /* color: #e6e8eb; */
    /* color: #1a1a1c; */
    color: #d4af37;
    /* background-color: #d4af37;*/
    /* padding: 10px; */
    /* border-radius: 10px; */ 
    font-weight: bolder;
}

pre{
    white-space:pre-wrap;
    font-size:16px;
    font-family:Arial;
}

footer{
    /* background:#1f2937; */
    /* background:#e6e8eb;; */
    color:white;
    text-align:center;
    padding:20px;
    margin-top:30px;
}