 * {
     margin: 0;
     padding: 0px;
 }

 body {
     background: #0e0e0f;
     color: #e6e8eb;
     font-family: Georgia, serif;
     font-size: 3dvw;
 }

 header {
     padding: 3dvw 4dvw;
     color: #e6e8eb;
     text-align: center;
 }

 nav {
     margin-bottom: 2dvh;
     display: flex;
     justify-content: center;
     gap: 3dvw;
     font-family: 'Libre Baskerville';
     color: white;
     font-size: 3dvw;
     text-align: center;
 }

 nav a:hover {
     transition: 0.5s;
     background-color: #d4af37;
     color: white;
     padding: 2dvw;
     border-radius: 2dvw;
 }

 h1 {
     font-size: 10dvw;
     text-align: center;
     font-family: 'Playfair Display';
     margin: auto;
     height: 70dvw;
     padding: 30dvw 0 0 0;
 }
@media screen and (max-width: 900px) {
    h1{
        height: 0;
        padding: 0 0 0 0;
        margin: 10dvw 0;
    }
    h2{
        margin: 0;
    }
    div{
        margin: 0;
    }
}
 main {
     width: 90%;
     margin: auto;
 }

 div {
     margin-bottom: 3dvh;
 }

 h2 {
     font-family: 'Alike', sans-serif;
     width: fit-content;
     padding: 10px 14px;
     border-radius: 8px;
     color: #e6e8eb;
     background: #1a1a1c;
     margin: 50px 0;
 }

 h2:hover {
     background-color: #d4af37;
     color: #0e0e0f;
     transition-duration: 1s;
 }

 h3 {
     font-family: 'Alike' sans-serif;

     margin: 50px 0;
 }

 h4 {
     margin: 50px 0;
     color: #d4af37;
 }

 a {
     color: #e6e8eb;
     text-decoration-line: unset;
 }

 p a {
     text-decoration: underline #d4af37;
 }

 p a:hover {
     color: #d4af37;
     font-size: 4dvw;
     transition: 0.5s;
 }

 footer {
     color: white;
     text-align: center;
     padding: 20px;
     margin-top: 30px;
 }