{% extends 'main.html' %}
{% load static %}
{% block content %}
<!-- Dashboard -->

<!-- Navbar  -->
{% include 'components/navbar.html'%}

<!-- Product  -->
{% include 'components/product_section.html' %}

<!-- Product Add Modal -->

<!-- Category -->
<div class="text-center text-orange-500 font-extrabold  ">Categories</div>

<div class="h-50 overflow-y-auto flex justify-center items-center gap-1 bg-orange-100 m-3 p-3 rounded"></div>

<!-- Collections -->
<div class="text-center text-orange-500 font-extrabold">Collections</div>

<div class="h-50 overflow-y-auto flex justify-center items-center gap-1 bg-orange-100 m-3 p-3 rounded"></div>

<!-- Hero Section -->
<div class="text-center text-orange-500 font-extrabold">Hero Section</div>

<div class="h-30 overflow-y-auto flex justify-center items-center gap-1 bg-orange-100 m-3 p-3 rounded"></div>

<!-- Footer  -->
{% include 'components/footer.html'%}

{% endblock %}

{% block script %}
<script src="{% static 'js/modal.js' %}" defer></script>
<script src="{% static 'js/product.js' %}" defer></script>
{% endblock %}