{% extends 'main.html' %}
{% load static %}
{% block content %}
<!-- Dashboard -->

<!-- Navbar  -->
{% include 'components/navbar.html'%}

<!-- Product  -->
{% include 'components/product_section.html' %}


<!-- Category -->
{% include 'components/category_section.html' %}


<!-- Collections -->
{% include 'components/collections_Section.html' %}

<!-- Hero Section -->
{% include 'components/hero-section.html' %}

<!-- Footer  -->
{% include 'components/footer.html'%}
{% endblock %}

{% block script %}
<script src="{% static 'js/modal.js' %}" defer></script>
<script src="{% static 'js/dashboard.js' %}" defer></script>
{% endblock %}