{% extends 'main.html' %}
{% load static %}
{% block content %}
<!-- Dashboard -->

<!-- Navbar  -->
{% include 'components/navbar.html'%}

<!-- Product Add Modal -->

{% include 'components/Product-add-modal.html' %}

<div class="text-center text-orange-500 font-extrabold">Products
</div>

<div class="   m-3 rounded">

    <!-- Header  -->
    <div id="Product-add" class=" shrink-0 h-10 bg-orange-300 flex justify-start  items-start font-extrabold">
        <i class="fa-solid fa-plus text-orange-500 my-auto ml-2"></i>
    </div>


    <!-- Data -->
     <div id="product_show" class="h-50 flex-1 overflow-y-auto  bg-orange-100 flex flex-col gap-1 ">
         {% for product in Products %}
    <div ID="product_section_{{product.id}}" class="h-10  bg-orange-200  p-2 m-2 rounded flex justify-between ">
        
        <div class="flex gap-2">
            <img src="{{product.image.url}}" alt="{{product.name}}"
            class="h-full object-contain rounded">
            <span class="text-orange-500">{{product.name}}</span>
        </div>

        <div class="flex gap-1 text-orange-500">
            <span>Rs {{product.price}}</span>
            <span>Stock {{product.stock}}</span>
            <span>Sales {{product.sales}}</span>
            <a href="{% url 'product_edit' product.id}" class="fa-solid fa-pencil"></a>
            <a href="{% url 'product_delete' product.id %}" class="text-red-500"><i class="fa-solid fa-trash"></i></a>
        </div>
    </div>
    
    {% endfor %}
</div>
</div>
<!-- Category -->
<div class="text-center text-orange-500 font-extrabold  ">Categories</div>

<div class="h-50 overflow-y-auto flex justify-center items-center gap-1 bg-orange-100 m-3 p-3 rounded"></div>

<!-- Collections -->
<div class="text-center text-orange-500 font-extrabold">Collections</div>

<div class="h-50 overflow-y-auto flex justify-center items-center gap-1 bg-orange-100 m-3 p-3 rounded"></div>

<!-- Hero Section -->
<div class="text-center text-orange-500 font-extrabold">Hero Section</div>

<div class="h-30 overflow-y-auto flex justify-center items-center gap-1 bg-orange-100 m-3 p-3 rounded"></div>

<!-- Footer  -->
{% include 'components/footer.html'%}

{% endblock %}

{% block script %}
<script src="{% static 'js/modal.js' %}" defer></script>
<script src="{% static 'js/product.js' %}" defer></script>
{% endblock %}