{% load static %}

<!-- Hero Section -->
<div class="text-center text-orange-500 font-extrabold">Hero Section</div>

<div
  id="hero_section"
  class="z-0 hidden relative m-3 h-[50dvh] rounded p-2 gap-5 justify-center items-center duration-300"
  style="background-color: {{ Hero.bg_color }};"
>
  <div class="w-[50%] h-full flex items-center justify-center">
    <img
      src="{{ Hero.image.url }}"
      alt=""
      class="object-contain h-full rounded w-fit"
    />
  </div>

  <div
    class="h-full relative flex flex-col gap-3 items-center justify-center w-[50%]"
  >
    {% if Hero.discount %}
    <span
      class="absolute top-1 right-1 text-2xl"
      style="font-family: 'Bebas Neue'; color: {{ Hero.font_btn_color }};"
    >
      {{ Hero.discount }}% Off
    </span>
    {% endif %}
    <h1 class="font-extrabold" style="color: {{ Hero.font_btn_color }};">
      {{ Hero.title }}
    </h1>

    <p class="font-bold" style="color: {{ Hero.font_btn_color }};">
      {{ Hero.subtitle }}
    </p>

    <button
      type="button"
      class="p-2 rounded m-5 font-extrabold text-white"
      style="background-color: {{ Hero.font_btn_color }};"
    >
      Shop now
    </button>
  </div>

  <!-- Hero Overlay -->
<div id="hero_overlay" class="rounded z-0 justify-center items-center gap-5 inset-0 bg-black/20 absolute hidden">
    <form action="{% url 'hero_delete' %}">
    <button type="submit" class="text-red-500 text-4xl font-extrabold">Delete</button>
    </form>
    <button id="hero_edit" class="text-4xl text-white font-extrabold">Edit</button>
</div>
</div>

<!-- Empty Overlay -->
<div
  id="emtpy_hero"
  class="z-0 hidden relative h-[50dvh] rounded justify-center items-center m-3 p-2"
>
  <!-- Hero overlay empty  -->
<div id="hero_overlay_empty" class="rounded z-0 justify-center items-center gap-5 inset-0 bg-black/20 absolute hidden">
    <button id="create_hero" class="text-green-500 text-4xl font-extrabold">Create</button>
</div>

  <img
    src="{% static 'images/hero_empty.png' %}"
    alt=""
    class="object-contain h-full rounded w-fit"
  />
</div>


  {% include 'components/Hero/hero_modal.html' %}
