{% extends 'base.html' %}
{%block title%}
{{block.super}}
{%endblock%}
{% block content %}
<div class="container py-5">

    <form class="container mx-auto card p-4" action="{% url 'detail_save' %}" method="post">
        <div class="mb-3">
            {% csrf_token %}
            
            {% include 'components/ShowMessage.html' %}


            <label for="title">Note Title</label>
            <input name="Title" type="text" id="title" class="form-control" placeholder="Enter Note title">
            
        </div>
        <div class="mb-3">
            <label for="title">Note Description</label>
            <textarea name="Description" rows="5" id="title" class="form-control" placeholder="Enter note Description"></textarea>
        </div>
        <div class="mb-3">
            <button style="width: 100%; height: 50px;" class="btn btn-primary" >Add note <i class="fa-regular fa-note-sticky"></i></button>
        </div>
    </form>
</div>


<div class="container" >
    {% if notes %}
    <h1>Notes ({{notes| length}})</h1>
    {% for note in notes %}
    <div class="row">
        <div class="p-2 col-sm-2 col-md-3 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h4>{{note.Title}}
                    </h4>
                    <p>{{note.Description}}</p>

                </div>
                <div class="card-footer">
                    <a href="{% url 'edit page' id=note.id%}" class="btn btn btn-btn-sm btn-info">Edit</a>
                    <!-- <a href="/delete-view/{{note.id}}" class="btn btn-sm btn-danger">Delete</a> -->
                    <a href="{% url 'deleteview' id=note.id%}" class="btn btn-sm btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <h1>No any any notes</h1>
    {% endif %}
</div>
{% endblock %}