{% extends 'main.html' %}
{% block content %}
{% include "./components/navbar.html" %}

<!-- Hero Section  -->
 <div class="m-3 h-[50dvh] rounded p-2 bg-orange-300 flex gap-5 justify-center items-center">
    <div class="w-[50%] h-full flex items-center justify-center ">
    <img src="https://png.pngtree.com/png-clipart/20250628/original/pngtree-energy-drink-can-with-splash-effect-isolated-on-transparent-background-png-image_21216010.png" alt="" class="object-fit  h-full  rounded  w-fit">
    </div>

    <div class="h-full relative flex flex-col gap-3 items-center justify-center  w-[50%]">

    <span class="text-orange-500  absolute top-1 right-1 text-2xl" style='font-family: "Bebas Neue"'>20% Off</span>
    <h1 class="text-orange-500 font-extrabold" >Energy Drink</h1>
        <p class="text-orange-500 font-bold">Drink it to boost your energy</p>
        <button type="button" class="p-2 rounded bg-orange-500 m-5 font-extrabold text-white">Shop now</button>
 </div>
 </div>

 <!-- Cards  -->
  <div class="text-center m-5 font-extrabold text-3xl text-orange-500">Discover out Collections</div>

  <div class="flex flex-col justify-center items-center relative gap-2 h-100 w-60 rounded bg-orange-100 p-3 m-5">

    <span class="text-orange-500  absolute top-1 right-1 text-2xl" style='font-family: "Bebas Neue"'>20% Off</span>

    <img src="https://png.pngtree.com/png-clipart/20250628/original/pngtree-energy-drink-can-with-splash-effect-isolated-on-transparent-background-png-image_21216010.png" class="object-fit  max-h-[60%]  rounded" alt="drink">

<h1 class="text-orange-500 font-extrabold" >Energy Drink</h1>
        <span class="text-orange-500 font-bold">Drink it to boost your energy</span>
        <span class="text-orange-500 font-extrabold" style="font-family: 'Monstrate';">Rs 499</span>
        
        <button type="button" class="p-2 rounded bg-orange-500 m-5 font-extrabold text-white">Add to cart</button>
        </div>
{% endblock %}